---
import BaseLayout from './BaseLayout.astro';
import TagList from "../components/TagList.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
<div data-pagefind-body>
	<h1 transition:name={frontmatter.title} class="title">{frontmatter.title}</h1>
	<p>投稿日: {frontmatter.pubDate.toString().slice(0,10)}</p>
	<p><em>{frontmatter.description}</em></p>
	<p>著者: {frontmatter.author}</p>
	<img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} loading="lazy" />
	<slot />
</div>
<TagList postTags={frontmatter.tags} />
</BaseLayout>

<style>
	.title {
		font-size: var(--post-title);
		color: var(--text-color);
	}
</style>